<!DOCTYPE html>
<html>
  <head>
    <title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }}</title>

    {% include meta.html %}

    <!--[if lt IE 9]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
    <link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}" href="{{ site.baseurl }}/feed.xml" />

  </head>

  <body>
    <div class="wrapper-masthead">
      <div class="container">
        <header class="masthead clearfix">
          <a href="{{ site.baseurl }}/" class="site-avatar"><img src="../{{ site.avatar }}" style="max-height:100%"/></a>

          <div class="site-info">
            <h1 class="site-name"><a href="{{ site.baseurl }}/">{{ site.name }}</a></h1>
            <p class="site-description" style="margin-bottom:0.25cm">{{ site.description }}</p>
            <p class="site-description"> 
            
            <link rel="stylesheet" href="../css/academicons.min.css"/>
            <script src="https://kit.fontawesome.com/abbbcadf24.js" crossorigin="anonymous"></script>
            
            <a href="mailto:merlijnstaps@gmail.com" target="_blank">
            <i class="fa-solid fa-square-envelope" style="font-size:150%;"></i>
            </a>
            
            <a href="https://scholar.google.com/citations?user=ZH9VoHgAAAAJ&hl=en" target="_blank">
            <i class="ai ai-google-scholar-square ai-2x" style="font-size:150%;"></i>
            </a>
            
            

            
            
            <a href="https://orcid.org/0000-0003-4869-4817" target="_blank">
                <i class="fa-brands fa-orcid" style="font-size:140%;"></i>
            </a>
            
            <a href="https://github.com/merlijnstaps/" target="_blank">
            <i class="fa-brands fa-github-square" style="font-size:150%;"></i>
            </a>
            
            
            </p>
          </div>
          

          

          <nav>
          <div class="site-info">
             <!-- <p> {% include svg-icons.html %} </p> -->
          </div>         
          <p class="menu">
             <a href="{{ site.baseurl }}/">Home</a> &middot;
            <a href="{{ site.baseurl }}/research/">Research</a> &middot;
           <a href="{{ site.baseurl }}/publications">Publications</a> &middot;
          <a href="{{ site.baseurl }}/teaching">Teaching</a> &middot;
          <a href="{{ site.baseurl }}/CV">CV</a>
          </p>
          </nav>
        </header>
      </div>
    </div>

    <div id="main" role="main" class="container">
      {{ content }}
    </div>

<!--
    <div class="wrapper-footer">
      <div class="container">
        <footer class="footer">
          {% include svg-icons.html %}
        </footer>
      </div>
    </div>
-->
    {% include analytics.html %}
  </body>
</html>
